<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p --- [%15.15t] %-40.40logger{39} : %m%n%xEx</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.apache.grails" level="INFO" />
    <logger name="org.springframework" level="WARN" />
    <logger name="org.hibernate" level="WARN" />
    <logger name="org.hibernate.orm.deprecation" level="OFF"/> <!--HHH90000022: Hibernate's legacy org.hibernate.Criteria API is deprecated-->
    <logger name="org.jobrunr" level="INFO" />
    <logger name="example.grails" level="DEBUG" />
</configuration>
